.dashboard{

display:grid;

grid-template-columns:260px 1fr 330px;

height:100vh;

overflow:hidden;

gap:10px;

padding:10px;

background:#f4f6f8;

}



.sidebar-area{

overflow-y:auto;

}



.center-area{

display:flex;

flex-direction:column;

overflow:hidden;

}



.component-box{

height:120px;

overflow:hidden;

}



.pid-box{

flex:1;

overflow:hidden;

}



.bottom-center{

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

height:250px;

overflow:auto;

}



.right-area{

display:flex;

flex-direction:column;

gap:10px;

overflow-y:auto;

}



.panel{

background:white;

border-radius:10px;

padding:12px;

box-shadow:0 2px 6px #ccc;

}



.equipment-panel table{

width:100%;

border-collapse:collapse;

}


.equipment-panel td{

padding:6px;

border-bottom:1px solid #ddd;

}



svg{

max-width:100%;

height:auto;

}